.donation-link {
    display: block;
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 8px 8px 24px #CCC;
    margin-bottom: 18px;
    position: relative;
}

.donation-link .donate {
    color: white;
    text-decoration: none;
    background-image: linear-gradient(75deg, maroon, red);
    font-weight: bold;
    padding: 15px;
    display: inline-block;
    border-radius: 8px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
}

.teacher-application {
    padding: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 8px 8px 24px #CCC;
    margin-bottom: 18px;
}