/* Creating variables */
:root {
  --body-background-color: #f7f7f7;
}

/* Common styles */
* {
  box-sizing: border-box;
  background-color: var(--body-background-color);
  margin: 0;
  padding: 0;
}

body {
    font-family: Calibri;
}

main {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 18px;
}

ul {
  list-style: none;
}
