header {
	width: 100%;
	height: 80px;
	display: block;
	background-color:#101010;
    position: sticky;
    top: 0;
    z-index: 99;
}
.inner_header {
	width: 800px;
	height: 100%;
	display: block;
	margin: 0 auto;
}

.logo {
    margin-right: auto;
	display: table;
    float: left;
    padding: 5px;
    height: 100%;
}

.logo img {
    height: 100%;
}

.navigation {
	float: right;
	height: 100%;
    list-style: none;
	color: white;
}

.navigation a{
	height: 100%;
    display: table;
    padding: 0px 20px;
	float: left;
	text-decoration: none;
}

.navigation a:last-child{
	padding-right: 0;
}

.navigation a li {
    display: table-cell;
	vertical-align: middle;
	height: 100%;
	color: white;
	font-size: 16px;
}