.map-wrapper {
  overflow: hidden;
  padding: 15px;
  border-radius: 8px;
}

#map {
  display: block;
  height: 330px;
  width: 100%;
}

.map-wrapper .map-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
  border: 5px solid white;
  box-shadow: 4px 4px 12px #ccc;
}